<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pokt" coords="160,50,270,105" href="create_entry_form" alt="alttext">
</map>

</center>

<div id="filedex"><h1>filedex</h1>
  <table border="1">
    <tr class="entry_cell">
      <td class="img_cells">
	<a href="sample.txt"><img src="http://img.pokemondb.net/sprites/black-white/normal/abra.png" alt="Abra"></a>
      </td>
      <td class="title">
	<a href="sample.txt">title of entry</a>
      </td>
      <td class="timestamp">[timestamp]</td>
    </tr>
    <tr class="entry_cell">
      <td class="img_cells">
	<a href="sample.txt"><img src="http://img.pokemondb.net/sprites/black-white/normal/rapidash.png" alt="Abra"></a>
      </td>
      <td class="title">
	<a href="sample.txt">title of entry</a>
      </td>
      <td class="timestamp">[timestamp]</td>
    </tr>
  </table>
</div>
</body>
</html>
