<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pokédiary</title>
    <meta name="description" content="">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link href='../static/styles.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <center>
      <h1>pokédiary</h1>
      <h2>a web diary run from a docker container</h2>

                  <!--
            image of Pokemon Center with clickable area over the nurse 
            source: http://vignette3.wikia.nocookie.net/pokemonessentials/images/f/f5/PokeCenter.png/revision/latest?cb=20101030170243!
		    -->
		  <img id="centerimg" src="../static/centerimg.png" alt="an image of Pokemon Center, with a clickable area over the pink-haired nurse" usemap="#nurselink"\>

		  <map name="nurselink">
		    <area shape="rect" coords="160,50,270,105" href="create_entry_form" alt="alttext">
		  </map>

    </center>

    <div id="filedex"><h1>filedex</h1>
      <table border="1">
<tr class="entry_cell"><td class="img_cells"><a href="sample.txt"\><img src="http://img.pokemondb.net/sprites/black-white/normal/abra.png" alt="Abra"></a></td><td class="title"><a href="sample.txt">OMG</a></td><td class="timestamp">[timestamp]</td></tr>	<tr class="entry_cell">
	  <td class="img_cells">
	    <a href="sample.txt"><img src="http://img.pokemondb.net/sprites/black-white/normal/abra.png" alt="Abra"></a>
	  </td>
	  <td class="title">
	    <a href="sample.txt">title of entry</a>
	  </td>
	  <td class="timestamp">[timestamp]</td>
	</tr>
	<tr class="entry_cell">
	  <td class="img_cells">
	    <a href="sample.txt"><img src="http://img.pokemondb.net/sprites/black-white/normal/rapidash.png" alt="Abra"></a>
	  </td>
	  <td class="title">
	    <a href="sample.txt">title of entry</a>
	  </td>
	  <td class="timestamp">[timestamp]</td>
	</tr>
      </table>
    </div>
  </body>
  </html>
